* {
  padding: 0;
  margin: 0;
}

:root {
  --bg1: #13181F;
  --bg2: #141E27;
  --green: #3EE922;
  --green-hover: #226617;
  --white: #ffffff;
}

body {
  scroll-behavior: smooth;
  background-color: var(--bg1);
}

::-webkit-scrollbar {
  display: none;
}

.main-container {
  margin: 0 auto;
  width: 1140px;
}

/*--------------------(  Sidebar  )--------------------*/
.sidebar-container {
  position: relative;
}

.sidebar {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 56px;
  height: 99%;
  background: var(--bg1);
  color: var(--white);
  transition: width 0.4s;
  border: 2px solid var(--white);
}

.sidebar:hover {
  border: 2px solid var(--green);
  color: var(--green);
  transition: all ease 0.5s;
}

.sidebar.open {
  width: 260px;
}

.sidebar .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
}

.sidebar header {
  display: flex;
  align-items: center;
  padding: 20px 10px;
}

.sidebar header button:hover {
  color: var(--white);
}

.sidebar .btn5 {
  margin-top: 120px;
}

/* buton menu and close */
.sidebar-burger {
  display: grid;
  place-items: center;
  font-size: 30px;
  background: none;
  border: none;
  color: var(--color-white) !important;
}

.sidebar nav {
  display: grid;
  padding: 6px;
  gap: 20px;
  margin-top: 100px;
}

.sidebar nav button {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 44px;
  width: 44px;
  font-family: "Poppins";
  font-size: 20px;
  line-height: 1;
  padding: 0 12px;
  border-radius: 8px;
  background: none;
  color: var(--color-white);
  border: none;
}

.sidebar nav button:hover {
  color: var(--white);
  background: var(--green-hover);
  transition: all ease .3s;
}

.sidebar.open nav>button {
  width: 100%;
}

.notxt span {
  display: none;
}

/*--------------------(  Home  )--------------------*/
.home {
  border: 1px solid red;
  color: var(--white);
  text-align: left;
}

/*--------------------(  for Mobile  )--------------------*/
@media only screen and (max-width: 767px) {
  .main-container {
    width: 200px;
  }

  /*--------------------(  Sidebar  )--------------------*/
  .sidebar {
    width: 45px;
  }

  .sidebar nav {
    display: grid;
    padding: 3px;
    gap: 20px;
    margin-top: 50px;
  }

  .sidebar.open {
    width: 200px;
  }

  .sidebar .inner {
    width: 200px;
  }

  .sidebar header {
    padding: 15px 10px;
  }

  .sidebar .btn5 {
    margin-top: 100px;
  }

  .sidebar-burger {
    font-size: 20px;
  }

  .sidebar nav button {
    height: 39px;
    width: 39px;
  }

  .sidebar.open nav>button {
    width: 100%;
  }

  .notxt span {
    display: none;
    text-align: center;
  }
}

/*--------------------(  for Laptops  )--------------------*/
@media only screen and (max-width: 992px) and (max-width: 1199px) {
  .main-container {
    width: 100%;
  }
}

/*--------------------(  for Desktops  )--------------------*/
@media only screen and (min-width: 1200px) {
  .main-container {
    width: 100%;
  }
}