* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --bg1: #13181f;
  --bg2: #141e27;
  --green: #3ee922;
  --green-fade: #3de9227a;
  --green-hover: #226617;
  --white: #ffffff;
}

/*--------------------(  Fonts  )--------------------*/
@font-face {
  font-family: "Poppins-light";
  src: url("./fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("./fonts/Poppins-ExtraBold.ttf");
}

body {
  background-color: var(--bg1);
}
/* for modal */
body.active-modal {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.main-container {
  margin: 0 auto;
  width: 1140px;
}

/*--------------------(  Sidebar  )--------------------*/
.sidebar-container {
  position: relative;
}

.sidebar {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 56px;
  height: 99%;
  background: var(--bg1);
  color: var(--white);
  transition: width 0.4s;
  border: 2px solid var(--white);
  z-index: 1;
}

.sidebar:hover {
  border: 2px solid var(--green);
  color: var(--green);
  transition: all ease 0.5s;
}

.sidebar.open {
  width: 260px;
}

.sidebar .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
}

.sidebar header {
  display: flex;
  align-items: center;
  padding: 20px 10px;
}

.sidebar header button:hover {
  color: var(--white);
}

.sidebar .btn1 {
  text-decoration: none;
}

.sidebar .btn {
  text-decoration: none;
}

.sidebar .btn5 {
  margin-top: 120px;
  text-decoration: none;
}

/* buton menu and close */
.sidebar-burger {
  display: grid;
  place-items: center;
  font-size: 30px;
  background: none;
  border: none;
  color: var(--color-white) !important;
  cursor: pointer;
}

.sidebar nav a {
  display: grid;
  padding: 6px;
  gap: 20px;
}

.sidebar nav a button {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 44px;
  width: 44px;
  font-family: "Poppins-light";
  font-size: 20px;
  line-height: 1;
  padding: 0 12px;
  border-radius: 8px;
  background: none;
  color: var(--white);
  border: none;
  cursor: pointer;
}

.sidebar nav a button:hover {
  color: var(--white);
  background: var(--green-hover);
  transition: all ease 0.3s;
}

.sidebar.open nav a>button {
  width: 100%;
}

.notxt span {
  display: none;
}

.menu-phone {
  display: none;
  color: var(--white);
  position: fixed;
  right: 350px;
  top: 22px;
  z-index: 1;
  max-width: 340px;
  width: 100%;
}

.menu-phone button {
  margin-left: 300px;
}

.menu-phone button:hover {
  color: var(--green);
}

/*--------------------(  Home  )--------------------*/
.title-home h1 {
  font-family: "Poppins-ExtraBold";
  margin: 20px 10px;
  color: transparent;
  -webkit-text-stroke: 1px var(--green);
  font-size: 1.5em;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.txt-left,
.img-right {
  font-family: "Poppins-Bold";
  padding: 290px;
  position: relative;
}

.txt-left .box1,
.img-right .box2 {
  position: absolute;
}

.txt-left .box1 {
  font-size: 1.2em;
  top: 120px;
  left: 0;
  color: var(--white);
  line-height: 2em;
}

.box1 span {
  color: var(--green);
}

.box1 button {
  position: relative;
  border: 2px solid var(--white);
  border-radius: 50px;
  background-color: var(--bg1);
  color: var(--white);
  font-family: "Poppins-Bold";
  font-size: 1em;
  width: 150px;
  height: 50px;
  letter-spacing: 2px;
  margin-top: 10px;
}

.box1 button::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  right: -5px;
  bottom: -10px;
  border-radius: 50px;
  z-index: -1;
  transition: all ease 0.1s;
  border: 2px solid var(--white);
}

.box1 button:hover {
  border: 2px solid var(--green);
  color: var(--green);
  filter: drop-shadow(0 0 2em var(--green));
}

.box1 button:hover::before {
  border: none;
}

.box1 button:active {
  transform: scale(0.95);
}

.img-right .box2 {
  top: 140px;
  left: 0;
}

.box2 img {
  width: 500px;
}

/*--------------------(  Modal 1  )--------------------*/
.modal1, .modal2 {
  display: none;
  position: relative;
}
.overlay1, .modal1, .modal2 {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
}
.modal-content1, .modal-content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background-color: var(--bg2);
  border: 2px solid var(--green);
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 400px;
  min-width: 300px;
  z-index: 20;
}

.overlay1 {
  background: rgba(0, 0, 0, 0.582);
}

.setopen {
  display: block;
}
.modal-content1 p {
  font-family: "Poppins-Light";
  font-size: 1em;
  color: var(--white);
  text-align: justify;
}
.modal1-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal1-header button {
  background-color: var(--bg2);
  border: none;
  font-size: 2em;
  color: var(--green);
}
.modal1-header img {
  width: 50px;
}
.modal1-footer {
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 25px;
  position: relative;
}

.modal1-footer img {
  position: absolute;
  top: -70%;
  width: 110px;
}
/*--------------------(  Skills  )--------------------*/
.skill-container {
  background-color: var(--bg2);
  padding: 10px;
  position: relative;
}

.skill-container .title-skill h1 {
  font-family: "Poppins-ExtraBold";
  margin: 0 10px;
  color: transparent;
  -webkit-text-stroke: 1px var(--green);
  font-size: 1.5em;
}

.skill-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px;
  position: relative;
}

.card1,
.card2,
.card3 {
  border: 2px solid var(--white);
  border-radius: 30px;
  padding: 0px 30px 40px 10px;
  max-width: 200px;
  width: 100%;
  color: var(--white);
  will-change: filter;
  transition: filter 300ms;
  background-color: var(--bg2);
}

.card1:hover,
.card2:hover,
.card3:hover {
  border: 2px solid var(--green);
  color: var(--green);
  background-color: var(--bg1);
  filter: drop-shadow(0 0 2em var(--green));
}

.card1 img,
.card2 img,
.card3 img {
  width: 130px;
  height: 130px;
}

.card1 ul li,
.card2 ul li,
.card3 ul li {
  font-family: "Poppins-light";
  font-weight: 300;
  margin-left: 20px;
}

.card-head {
  display: flex;
}

.title-card {
  position: relative;
  padding: 40px;
  z-index: -1;
}

.title-card div {
  font-family: "Poppins-Bold";
  font-size: 1em;
  background-color: var(--bg2);
  border: 2px solid var(--green);
  color: var(--green);
  border-radius: 50px;
  width: 100px;
  text-align: center;
  position: absolute;
  top: -1%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.mini-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.mini-card1,
.mini-card2 {
  border: 2px solid var(--white);
  border-radius: 30px;
  padding: 20px;
  max-width: 220px;
  width: 100%;
  color: var(--white);
  will-change: filter;
  transition: filter 300ms;
}

.mini-card1 img,
.mini-card2 img {
  width: 50px;
}

.mini-card1 h1,
.mini-card2 h1 {
  font-family: "Poppins-Bold";
}

.mini-card1 p,
.mini-card2 p {
  font-family: "Poppins-light";
  font-size: 0.8em;
}

.mini-card1:hover,
.mini-card2:hover {
  border: 2px solid var(--green);
  color: var(--green);
  background-color: var(--bg1);
  filter: drop-shadow(0 0 2em var(--green));
}

/*--------------------(  Projects  )--------------------*/
.project-container {
  padding: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.project-layer1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.project-description1 {
  padding: 20px;
  max-width: 450px;
  width: 100%;
  background-color: var(--bg2);
}

.project-description1 h1 {
  color: var(--green);
  font-family: "Poppins-Bold";
}

.project-description1 p {
  font-family: "Poppins-light";
  color: var(--white);
}

.img-holder {
  padding: 50px;
  max-width: 350px;
  width: 100%;
  position: relative;
}

.project-layer1 img {
  position: absolute;
  top: -30px;
  right: 100px;
  width: 270px;
}

.project-layer2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  position: relative;
  flex-wrap: wrap;
}

.project-img {
  position: relative;
  border: 2px solid var(--white);
  padding: 20px;
  display: inline-block;
  overflow: hidden;
  will-change: filter;
  transition: filter 300ms;
}

.project-img:hover {
  filter: drop-shadow(0 0 2em var(--green));
  border: 2px solid var(--green);
}

.project-img img {
  max-height: 350px;
  max-width: 450px;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: -100%;
  /* Start off-screen */
  left: 0;
  width: 100%;
  height: 70%;
  background-color: var(--green-fade);
  /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  transition: bottom 0.5s ease;
  /* Smooth transition */
  backdrop-filter: blur(10px);
  /* Blur effect */
}

.overlay h1 {
  font-family: "Poppins-Bold";
  color: var(--white);
  font-size: 1.5em;
}

.overlay button {
  background-color: var(--white);
  border-radius: 20px;
  font-family: "Poppins-Bold";
  font-size: 1em;
  color: var(--green);
}

.overlay button:hover {
  color: black;
}

.project-img:hover .overlay {
  bottom: 0;
  /* Move to be fully visible */
}

.overlay-button {
  background-color: var(--white);
  /* Adjust as needed */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.project-description2 {
  padding: 20px;
  max-width: 350px;
  width: 100%;
  color: var(--white);
  font-family: "Poppins-light";
}

.project-description2 span {
  font-size: 0.7em;
}

.project-description2 h1 {
  font-family: "Poppins-Bold";
  font-size: 2em;
  color: var(--green);
}

.project-description2 h2 {
  font-family: "Poppins-Bold";
  font-size: 1em;
}

.project-description2 p {
  font-size: 0.8em;
}

.project-layer3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 100px;
  position: relative;
  flex-wrap: wrap;
}

/*--------------------(  Contact  )--------------------*/
.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  padding: 20px;
}

.contact-left h1 {
  font-family: "Poppins-ExtraBold";
  font-size: 3em;
  color: var(--green);
}

.contact-left img {
  width: 400px;
}

.contact-right {
  padding: 30px;
  background-color: var(--bg2);
  display: flex;
  flex-direction: column;
}

.contact-right h1,
.contact-right h2,
.contact-right p {
  color: var(--white);
}

.contact-right h1 {
  font-family: "Poppins-Bold";
  font-size: 2.5em;
}

.contact-right h2 {
  font-family: "Poppins-Bold";
  font-size: 1.5em;
}

.contact-right p {
  font-family: "Poppins-Bold";
  font-size: 1em;
}

.contact-right p span {
  color: var(--green);
}

.mess-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  position: relative;
}

.contact-right button {
  border: 2px solid var(--white);
  border-radius: 40px;
  background-color: var(--bg2);
  color: var(--white);
  padding: 10px;
  width: 200px;
  font-family: "Poppins-light";
  font-weight: 900;
  font-size: 1em;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
  will-change: filter;
  transition: filter 300ms;
}

.contact-right button:hover {
  filter: drop-shadow(0 0 2em var(--green));
  border: 2px solid var(--green);
  color: var(--green);
}
.contact-right button:active {
  transform: scale(0.95);
}

.contact-right button span {
  position: absolute;
  top: 25%;
  right: 9%;
  font-size: 1.5em;
  color: var(--green);
}
.contact-right button span:hover {
  color: var(--white);
}

.contact-lists,
.contact-lists a {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.8em;
  color: var(--green);
  position: relative;
}
/*--------------------(  Modal 2  )--------------------*/
.modal2 {
  display: none;
  position: relative;
}
.overlay1, .modal2 {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
}
.modal-content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background-color: var(--bg2);
  border: 2px solid var(--green);
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 400px;
  min-width: 300px;
  z-index: 20;
  text-align: right;
}

.overlay1 {
  background: rgba(0, 0, 0, 0.582);
}

.setopen {
  display: block;
}
.input-box form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  gap: 20px;
}

.modal-content2 button {
  background-color: var(--bg2);
  border: none;
  font-size: 2em;
  color: var(--green);
}


.input-box .input1, .input-box .input2, .input-box .input3 {
  padding: 15px;
  outline: none;
  background-color: transparent;
  border: 2px solid var(--green);
  border-radius: 10px;
  transition: 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);
  width: 100%;
  font-size: 16px;
  font-family: "Poppins-Light";
  color: var(--white);
  position: relative;
}

.input-box form .span1, .input-box form .span2, .input-box form .span3 {
  transition: 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);
  background-color: transparent;
  color: var(--green);
  padding: 0 5px;
  pointer-events: none;
  font-family: "Poppins-Bold";
}

/* Span 1 */
.input-box .span1 {
  position: absolute;
  top: 7%;
  left: 20px;
  transform: translateY(-30%);
}

.input-box .input1:focus ~ .span1, 
.input-box .input1:valid ~ .span1 {
  transform: translateX(0) translateY(-35px);
  background-color: var(--bg2);
  color: var(--green);
  font-family: "Poppins-Bold";
  font-size: 1em;
}

/* span 2 */
.input-box .span2 {
  position: absolute;
  top: 27%;
  left: 20px;
  transform: translateY(-30%);

}

.input-box .input2:focus ~ .span2, 
.input-box .input2:valid ~ .span2 {
  transform: translateX(0) translateY(-35px);
  background-color: var(--bg2);
  color: var(--green);
  font-family: "Poppins-Bold";
  font-size: 1em;
}

/* span 3 */
.input-box .span3 {
  position: absolute;
  top: 46%;
  left: 20px;
  transform: translateY(-30%);
}

.input-box .input3:focus ~ .span3, 
.input-box .input3:valid ~ .span3 {
  transform: translateX(0) translateY(-30px);
  background-color: var(--bg2);
  color: var(--green);
  font-family: "Poppins-Bold";
  font-size: 1em;
}
.modal2-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 220px;
}
.modal2-footer button {
  border-radius: 10px;
  border: 2px solid var(--white);
  color: var(--white);
  padding: 10px;
  width: 130px;
  font-size: 1em;
  font-family: "Poppins-Bold";
  transition: all ease-in .2s;
  will-change: filter;
}
.modal2-footer button:hover {
  border: 2px solid var(--green);
  filter: drop-shadow(0 0 2em var(--green));
  color: var(--green);
}
.modal2-footer button:active {
  transform: scale(0.95);
}
.modal2-footer span {
  font-size: 2em;
  color: var(--green);
}

.message {
  font-family: "Poppins-Bold";
  color: var(--green);
}

/*--------------------(  Pulse  )--------------------*/


.pulse-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pulse {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: var(--green-fade);
  border-radius: 50%;
}
.pulse span {
  position: absolute;
  height: 100%;
  width: 100%;
  background: inherit;
  border-radius:inherit;
  opacity: .8;
  animation: pulse 2s ease-out infinite;
  animation-delay: calc(1s * var(--i));
}

@keyframes pulse {
  100% {
      opacity: 0;
      transform: scale(2);
  }
}


/*--------------------(  for Mobile  )--------------------*/
@media only screen and (max-width: 767px) {
  .main-container {
    width: 200px;
  }

  /*--------------------( Mobile Home  )--------------------*/
  .home-container {
    flex-direction: column;
  }

  .txt-left,
  .img-right {
    padding: 155px;
    position: relative;
  }

  .txt-left .box1 {
    text-align: center;
    font-size: 1em;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.7em;
    width: 200px;
  }

  .mess {
    font-size: 0.6em;
    white-space: nowrap;
  }

  .img-right .box2 {
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .box2 img {
    width: 300px;
  }

  /*--------------------(  Mobile Skills  )--------------------*/
  .skill-card {
    gap: 45px;
    margin-top: 30px;
    padding: 0px;
  }

  .mini-card {
    margin-top: 20px;
    gap: 10px;
  }

  /*--------------------(  Mobile Projects  )--------------------*/
  .project-container {
    padding: 20px;
    gap: 60px;
  }

  .project-description1 h1 {
    font-size: 1.5em;
  }

  .project-description1 p {
    font-size: 0.8em;
  }

  .img-holder {
    padding: 50px;
    max-width: 350px;
    width: 100%;
    position: relative;
  }

  .project-layer1 img {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
  }

  .overlay {
    gap: 10px;
  }

  .project-layer2,
  .project-layer3 {
    gap: 0px;
  }

  .project-img {
    border: 2px solid var(--white);
    padding: 10px;
  }

  .project-description2 span {
    font-size: 0.7em;
  }

  .project-description2 h1 {
    font-size: 1.8em;
  }

  .project-description2 h2 {
    font-size: 1em;
  }

  .project-description2 p {
    font-size: 0.7em;
  }

  /*--------------------(  Mobile Contact  )--------------------*/
.contact-container {
  padding: 10px;
}

.contact-left h1 {
  font-size: 2em;
  text-align: center;
}

.contact-left img {
  width: 250px;
}

.contact-right {
  padding: 20px;
}

.contact-right h1 {
  font-size: 2em;
}

.contact-right h2 {
  font-size: 1.3em;
}

.contact-right p {
  font-size: 0.8em;
}

.contact-right button span {
  right: 8%;
  font-size: 1.5em;
}

.contact-lists,
.contact-lists a {
  font-size: 1.5em;
}


  /*--------------------( Mobile Sidebar  )--------------------*/
  .sidebar {
    right: 0;
    width: 0px;
    height: 99%;
  }

  .sidebar.open {
    width: 55px;
  }

  .sidebar .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
  }

  .sidebar header button:hover {
    color: var(--white);
  }

  .sidebar nav {
    margin-top: 10px;
  }

  .txt span {
    display: none;
  }

  .menu-phone {
    display: block;
    color: var(--white);
    position: fixed;
    padding: 0px 1px 0px 1px;
    top: 22px;
    z-index: 1;
    max-width: 10px;
    width: 0;
    border: 1x solid red;
  }

  /*--------------------(  Mobile Modal 1  )--------------------*/
.modal-content1 {
  min-width: 220px;
}
.modal-content1 p {
  font-size: .8em;
}
.modal1-header button {
  font-size: 1.5em;
}
.modal1-header img {
  width: 30px;
}

.modal1-footer img {
  position: absolute;
  top: -20%;
  right: -10%;
  width: 80px;
}

  /*--------------------(  Mobile Modal 2  )--------------------*/
  .modal-content2 {
    padding: 15px;
    max-width: 120px;
    min-width: 260px;
  }
  
  .input-box form {
    gap: 20px;
  }
  
  .input-box .input1, .input-box .input2, .input-box .input3 {
    padding: 10px;
  }
  
  .input-box form .span1, .input-box form .span2, .input-box form .span3 {
    transition: 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);
    background-color: transparent;
    color: var(--green);
    padding: 0 5px;
    pointer-events: none;
    font-family: "Poppins-Bold";
    font-size: .8em;
  }
  
  /* Span 1 */
  .input-box .span1 {
    position: absolute;
    top: 6%;
    left: 20px;
    transform: translateY(-30%);
  }
  
  .input-box .input1:focus ~ .span1, 
  .input-box .input1:valid ~ .span1 {
    transform: translateX(0) translateY(-29px);
    font-size: .8em;
  }
  
  /* span 2 */
  .input-box .span2 {
    position: absolute;
    top: 25%;
    left: 20px;
    transform: translateY(-30%);
  
  }
  
  .input-box .input2:focus ~ .span2, 
  .input-box .input2:valid ~ .span2 {
    transform: translateX(0) translateY(-29px);
    font-size: .8em;
  }
  
  /* span 3 */
  .input-box .span3 {
    position: absolute;
    top: 44%;
    left: 20px;
    transform: translateY(-30%);
  }
  
  .input-box .input3:focus ~ .span3, 
  .input-box .input3:valid ~ .span3 {
    transform: translateX(0) translateY(-28px);
    font-size: .8em;
  }
  .modal2-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .modal2-footer button {
    border-radius: 10px;
    border: 2px solid var(--white);
    padding: 10px;
    width: 130px;
    font-size: 1em;
    font-family: "Poppins-Bold";
  }
  .modal2-footer span {
    font-size: 1.5em;
    color: var(--green);
  }


}


/*--------------------(  for Laptops  )--------------------*/
@media only screen and (max-width: 992px) and (max-width: 1199px) {
  .main-container {
    width: 100%;
  }
}

/*--------------------(  for Desktops  )--------------------*/
@media only screen and (min-width: 1200px) {
  .main-container {
    width: 100%;
  }
}